@if (showAlert()) {

<app-alert [color]="alertColor()"> {{ alertMsg() }} </app-alert>
}

<form [formGroup]="form" (ngSubmit)="register()">
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">Name</label>
    <app-input
      placeholder="enter Name"
      [control]="form.controls.name"
    ></app-input>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <!-- <input
      type="email"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Enter Email"
    /> -->
    <app-input
      [control]="form.controls.email"
      type="email"
      placeholder="enter email"
    ></app-input>
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label class="inline-block mb-2">Age</label>
    <app-input
      [control]="form.controls.age"
      type="Number"
      placeholder="Enter age"
    ></app-input>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <app-input
      [control]="form.controls.password"
      type="password"
      placeholder="enter password"
    ></app-input>
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm Password</label>
    <app-input
      [control]="form.controls.confirmPassword"
      type="password"
      placeholder="confirm password"
    ></app-input>
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <app-input
      [control]="form.controls.phoneNumber"
      placeholder="enter phone number"
      format="(000)000-000"
    ></app-input>
  </div>
  <button
    type="submit"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400"
    [disabled]="!form.valid || inSubmission()"
  >
    Submit
  </button>
</form>
